<!doctype html>
<html>
    <body>
        <div class="container">
            <h1> Lista Binari nel database: </h1>

            <ul>
            {% for file in filelist %}
              <li><a href="/uploaded/{{ file }}">{{ file }}</a></li>
            {% endfor %}
            </ul>
            
            <!--<h2> Lista Binari nel database che non hanno il dizionario per essere visualizzati: </h1>
            <ul>
            {% for file in filelistsenzadiz %}
              <li> {{ file }} </a></li>
            {% endfor %}
            </ul>
            <h3> Per poterli visualizzare è necessario uploadarli di nuovo </h3><-->
            
        </div>
   </body>
</html>