<!doctype html>
<html>
    <head>
        <script type="text/javascript" src="{{ url_for('static', filename='d3.js') }}"></script>
        <script src="https://unpkg.com/viz.js@1.8.0/viz.js" type="javascript/worker"></script>
        <script src="https://unpkg.com/d3-graphviz@1.3.1/build/d3-graphviz.min.js"></script>

        <style>
            tr{cursor: pointer; transition: all .25s ease-in-out}
            .selected{background-color: red; font-weight: bold; color: #fff;}
            
        </style>
        
    </head>
    
    <body>
        <div class="container">
            <div class="lista_funzioni" style="float:left;"> 
                <table id="table" border="1">
                    <style>
                        table  { 
                            border-collapse:collapse
                        }
                        td, th { 
                            border:1px solid #ddd;
                            padding:8px;
                        }
                    </style>
                
                    <caption>
                        <p>Lista funzioni:</p>
                    </caption>
                  
                    {% for name in listaF %}
                        <tr>
                            <td>{{ name }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            
            <div style="float:left; margin-left: 30px;">
                <div style= "margin-left:5px;">
                    <h1> Grafo Funzione: </h1>
                </div>
                
                <div id="chart" width="510pt" style="text-align: center;">
                </div>
                
            </div>
            
            <div style="float:left; margin-left: 40px;">
        
                <div>
                    <h1> Function Starting Address: </h1>
                    <p id="startAd"></p>
                </div>
                
                <div>
                    <h1> Istruzioni Disassemblate: </h1>
                    <p id="istruzioniDis"></p>
                </div>
               
            </div>
        </div>
        
        <script>
            var diz= JSON.parse({{ dict|tojson }});
        
            function selectedRow(){
                var index,table = document.getElementById("table");    
                for(var i = 0; i < table.rows.length; i++) {
                    table.rows[i].onclick = function() {
                        // remove the background from the previous selected row
                        if(typeof index !== "undefined"){
                            table.rows[index].classList.toggle("selected");}
                        // get the selected row index
                        index = this.rowIndex;
                        changeAddress(table.rows[index].innerText);
                        // add class selected to the row
                        this.classList.toggle("selected");
                    };
                }
                        
            }
            selectedRow();
            
            function changeAddress(input) {
                d3.select("svg").remove()
            
                document.getElementById("startAd").innerText= diz[input]["address"];
                document.getElementById("istruzioniDis").innerText= diz[input]["istruzioni"];
                
                d3.select("#chart").graphviz()
                .fade(false)
                .attributer(attributer)
                .renderDot(diz[input]["grafo"]);     
            }
            
            function attributer(datum, index, nodes) {
                var selection = d3.select(this);
                if (datum.tag == "svg") {
                    var width = window.innerWidth;
                    var height = window.innerHeight;
                    var x = 650;
                    var y = 1500;
                    var scale = 1;
                    selection
                        .attr("width", width + "px")
                        .attr("height", height + "px")
                        .attr("viewBox", 0 + " " + 0 + " " + (x / scale) + " " + (y / scale));
                    datum.attributes.width = x + "px";
                    datum.attributes.height = y + "px";
                    datum.attributes.viewBox = 0 + " " + 0 + " " + (x / scale) + " " + (y / scale);
                }
            }
            
        </script>
      
   </body>
</html>